@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

/* globals.css yoki component CSS */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.AboutHeader {
  background: linear-gradient(360deg, #272727 0%, rgba(39, 39, 39, 0) 100%), url('/abouthero.png') center/cover no-repeat;
  /* background: linear-gradient(360deg, #272727 0%, rgba(39, 39, 39, 0) 100%), url('/bg1.png') top center/cover no-repeat; */
}

.Catalohhero {
  background: linear-gradient(360deg, #272727 0%, rgba(39, 39, 39, 0) 100%), url('/cataloghero.png') center/cover no-repeat;
}

.contact-map iframe {
  width: 100% !important;
}